.myClass {
  background-color: red;
  height: 100px;
  width: 1000px;
}

.myMargin {
  /* border-width: 2px;
  border-style: solid;
  border-color: red; */

  border: 2px solid red;
  background-color: red;
  width: fit-content;
}

.myMargin div {
  height: 100px;
  width: 100px;
  background-color: lightblue;


  margin: 10px;
}

.myPadding {
  background-color: lightblue;
  width: fit-content;

  padding: 10px;
}

.myPadding div {
  width: 100px;
  height: 100px;
  background-color: red;
}

.article {
  width: 200px;
  height: 200px;
  border: 3px solid red;
  background-color: aqua;

  padding: 10px;
}

.article p {
  border: 3px solid lightcoral;
  background-color: white;
}