table,
td,
th {
  border: 2px solid black;
}

table {
  width: 50%;
  margin: auto;
}

th {
  padding: 20px;
  background-color: bisque;
}

td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: aquamarine;
}

tr {
  background-color: lightgray;
}

td:hover {
  background-color: tomato;
  cursor: pointer;
}

/*  */

.myDiv {
  background-color: bisque;
  border: 3px solid gray;
  padding: 50px;
  margin: 100px;
}

.parentDiv {
  background-color: palevioletred;
  padding: 20px;
}

.chaildDiv>ul>li {
  background-color: aqua;
  margin: 5px 0;

  list-style: inside;
}