/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 20px;
  height: 500vh;
}

#render {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30px;

  .card {
    border: 2px solid red;
    border-radius: 10px;

    img {
      width: 200px;
    }
  }

  .cardDetail {
    padding: 10px;
    border-top: 1px solid black;
  }

  .imageParent {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section {
  position: relative;

  button {
    background-color: black;
    color: white;
    padding: 7px 15px;
    border-radius: 7px;
    box-shadow: 3px 3px 4px gray;
    margin-bottom: 10px;
    cursor: pointer;
  }

  button:active {
    scale: .95;
    box-shadow: 1px 1px 4px gray;
  }

  div {
    background-color: gray;
    color: wheat;
    padding: 10px;
    margin: 5px;
    position: absolute;
    box-shadow: 3px 3px 4px gray;
    border-radius: 5px;
    transition: .5s;

    ul {
      li {
        list-style: none;
      }
    }
  }
}

.notActive {
  /* display: none; */
  left: -1000px;
}

.active {
  /* display: block; */
  left: 3px;
}