* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  height: 100vh;
} */

.tParent {
  height: 100vh;
  border: 4px solid red;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* h1 {
  background-color: green;
} */

table {
  /* border-width: 4px;
  border-style: solid;
  border-color: black; */

  border: 4px solid black;
  width: 50%;
  height: fit-content;
  /* height: 400px; */

  padding: 30px 50px 100px 0;
  margin: 0 auto;
  /* border-radius: 50px 10px 0 100px; */
}

th,
td {
  border: 2px solid black;
}

th {
  font-size: 30px;
}

td {
  text-align: center;
}