* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#dataRender {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  justify-content: space-around;
  gap: 30px;
}

.card {
  width: 350px;
  padding: 20px;
  box-shadow: 0 0 5px gray;
}

.card p {
  text-align: justify;
}

.card-img {
  width: fit-content;
  margin: auto;
}

.card img {
  width: 300px;
}

.card button {
  margin: 10px 0 0 0;
  padding: 7px 10px;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}

.card button:hover {
  background-color: greenyellow;
}