a {
  font-size: 40px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: arial;
  font-weight: bold;
}

.parent {
  position: relative;
  width: fit-content;
}

.child {
  background: linear-gradient(to right ,black,blue,black);
  position: absolute;
  height: 5px;
  width: 0;
  transition: width 1s;
}

.parent:hover .child {
  width: 100%;
}