/* .parent {
  background-color: red;
} */

/* .parent div h1{
  background-color: green;
} */

/* .parent div h1 {  
  background-color: blue;
} */

/* .parent>:last-child {
  background-color: red;
} */

/* .parent>:first-child {
  background-color: blue;
} */

/* .parent>div:nth-child(2)>:nth-child(2) {
  background-color: red;
} */

/* ul li:nth-child(even) {
  background-color: red;
} */

/* ul li:nth-child(odd) {
  background-color: blue;
} */