* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo img {
  width: 40px;
}

.logo span {
  font-weight: 600;
}

section {
  /* background-color: rgb(232, 232, 232); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 5px 100px;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  margin: 0 10px;
  align-items: center;
}

main {
  height: 300vh;
}

nav ul li {
  list-style: none;
  padding: 0 10px;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.content {
  position: absolute;
  display: none;
  /* padding: 18px 0 0 0; */
  text-align: center;
  left: 0;
}

.content span {
  padding: 0 12px;
  width: 50px;
  border-bottom: 2px solid black;
}

.content span:hover {
  background-color: aqua;
}

.content span:last-child {
  border: none;
}

.dropdown:hover .content {
  display: block;
}