.box {
  background-color: tomato;
  width: 200px;
  height: 200px;

  border-radius: 10px 30px;
  border: 1px solid black;
}

/* padding And Margin */

.parentDiv,
.childDiv {
  border: 1px dashed lightgray;
}

.contentDiv {
  border: 5px solid red;

  /* padding: 10px; */
  /* padding: 50px 10px; */
  padding: 10px 50px 100px 150px;

  /* margin: 10px; */
  /* margin: 10px 500px; */
  margin: 10px 50px 100px 150px;
}