* {
  margin: 0;
  padding: 0;
}

.p1 {
  color: red;
  /* font-size: 40px; */
  font-weight: bold;
  font-family: cursive;
  background-color: aqua;
}

.card {
  border: 10px solid green;
  padding: 50px 10px 80px 100px;
  margin: 40px 100px 50px 10px;
}

.block,
.inline {
  background-color: red;
  margin: 5px 0;
}

.block {
  display: inline;
}

.inline {
  display: block;
}

