.container {
  height: 100px;
  width: fit-content  ;
  background-color: black;

  transition: 1s ease;
  color: white;
}

.container:hover {
  /* transform: translate(0, 100px); */

  /* transform: rotate(60deg);  */
  /* transform: rotateX(60deg); */
  /* transform: rotateY(160deg); */
  /* transform: rotateZ(160deg); */

  /* transform: scale(.5); */
  /* transform: scaleX(1.5); */
  /* transform: scaleY(1.5); */

  /* transform: skew(0, 20deg); */
  /* transform: skewY(20deg) */
}