body {
  background-color: black;
}

.bgImg {
  background: url("https://res.cloudinary.com/dpiiduvvx/image/upload/v1694261480/cld-sample-2.jpg");
  /* background-size: contain; */
  background-size: cover;
  /* background-repeat: no-repeat; */
  height: 100vh;
}

.settingImage {
  background: url("https://res.cloudinary.com/dpiiduvvx/image/upload/v1694261664/DrowBoy_fxkes9.jpg");
  background-position: 50%;
  width: 200px;
  height: 400px;
  border: 2px solid black;
  background-size: cover;

  margin: 20px 0;
}

.advanceBg {
  background: url("https://res.cloudinary.com/dpiiduvvx/image/upload/v1694261666/Code_blxikb.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.filter {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
}