* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .5s ease-out;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--penalBg);
  height: 100vh;
}

/* ================ */

/*? Theme Switch */

.switchPlate {
  position: relative;
  background-color: var(--white);
  width: 40px;
  height: 22px;
  border-radius: 20px;
  cursor: pointer;
}

.switchBtn {
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: var(--black);
  border-radius: 50%;
  top: 1.5px;
}

.switchBtn-left {
  left: 2px;
}

.switchBtn-right {
  right: 2px;
}

/* ================ */

nav {
  display: flex;
  background-color: var(--navBg);
  color: var(--white);
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

nav ul {
  display: flex;
}

nav ul>li {
  list-style: none;
  margin: 0 40px;
  cursor: pointer;
}

.NavLink {
  color: var(--white);
}

.NavLink-Active {
  text-decoration: underline;
  font-weight: bold;
  color: var(--white);
}

.navController {
  display: flex;
  align-items: center;
}

main {
  padding: 10px;

}

#ProductsRenderHere {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  row-gap: 30px;
}

.card {
  border: 2px solid var(--white);
  padding: 5px;
  width: 263px;
}

.cardDetail {
  margin: 0 0 3.5px 0;
}

.cardDetail>p:first-child {
  color: var(--white);
}

.border {
  border: 2px solid var(--white);
  margin: 10px 0;
}

.priceDetail {
  color: var(--white);
}

.priceDetail>span:first-child {
  text-decoration: line-through;
  color: gray;
}

.priceDetail>span:nth-child(2) {
  color: tomato;
}

.btn {
  color: var(--black);
  padding: 2px 7px;
  border: 2px solid var(--white);
  border-radius: 4px;
  cursor: pointer;
}

.btn:active {
  scale: .90;
}

.success-btn {
  background-color: lightgreen;
}

.alert-btn {
  background-color: tomato;
}