.bg-img {
  position: relative;
  border: 2px solid black;
  background-image: url("./DoremonEndNobita.webp");
  height: 600px;
  width: 600px;

  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: 50px; */

  background-size: contain;
}

.bg-img h1 {
  position: absolute;
  bottom: 200px;
}