@media screen and (max-width:900px) {
  body {
    background-color: aqua;
  }

  .row {
    flex-direction: column;
  }

  .leftcolum {
    width: 100%;
  }

  .rightcolum {
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 1040px) {
  body {
    background-color: greenyellow;
  }
}

@media screen and (max-width: 1040px) and (min-width:900px) {
  body {
    background-color: red;
  }
}

@media screen and (max-width:400px) {
  .header>h1 {
    font-size: 30px;
  }

  .topnav {
    flex-direction: column;
    height: fit-content;
  }

  .topnav>div {
    width: 100%;
  }

  .topnav>div>a {
    display: block;
  }
}