<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout</title>

  <link rel="stylesheet" href="./style.css">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Ottoman+Siyaq&display=swap" rel="stylesheet">

  <!-- Fontawsome -->
  <script src="https://kit.fontawesome.com/010f924f62.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- website top navigate header -->
  <header>
    <div>
      <h3>Compony Logo</h3>
    </div>

    <!-- navigation -->
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Service</a></li>
      </ul>
    </nav>
  </header>

  <!-- main Content -->
  <main>
    <!-- side penal -->
    <aside>
      <h3>Menu</h3>
      <ul>
        <li>link 1</li>
        <li>link 2</li>
        <li>link 3</li>
        <li>link 4</li>
        <li>link 5</li>
        <li>link 6</li>
        <li>link 7</li>
        <li>link 8</li>
        <li>link 9</li>
      </ul>
    </aside>

    <section class="mainContent">

      <article>
        <h1>This is my main Content.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, aperiam voluptatem eligendi
          molestiae
          fugit numquam facilis quas reprehenderit reiciendis nobis?</p>
      </article>

      <!-- Different content-->
      <section>
        <div>
          <img src="./img_girl.jpg" alt="lol" width="200px">
        </div>
        <div>
          <h3>Image Information</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa esse quia necessitatibus unde, iusto dolores
            eius dolorum deleniti commodi deserunt iste in laudantium inventore odio culpa totam nam fuga debitis.</p>
        </div>
      </section>

    </section>

  </main>

  <!-- Footer for web information -->
  <footer>
    <!-- Footer information -->
    <div>
      <h2>Footer Information</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt ad, minus explicabo corporis aperiam quae
        eligendi dicta voluptate. Voluptatibus harum ipsam ipsum consequatur voluptates iste non necessitatibus placeat
        a
        eveniet?</p>
      <p>Veniam provident tempora fuga, hic enim iure est ab. Vel commodi repellat libero laudantium quod! Qui modi,
        commodi tenetur delectus libero maiores, unde asperiores laborum dolor quae a, odio deserunt!</p>
      <p>Dolores exercitationem voluptatum perferendis illum? Quae obcaecati atque fuga vero corrupti dolorem! Fugit
        vero,
        beatae architecto nesciunt fugiat rem aperiam sequi quisquam in provident odit qui molestiae ducimus quibusdam
        eligendi.</p>
    </div>
    <!-- Icons -->
    <div>
      <div><i class="fa-brands fa-twitter"></i></div>
      <div><i class="fa-brands fa-facebook"></i></div>
      <div><i class="fa-brands fa-github"></i></div>
    </div>
  </footer>

</body>

</html>