.s-1 {
    text-shadow: 0 2px 4px gray;
    /* color: transparent; */
}

.s-2 {
    text-shadow: 0 3px 3px tomato, 0 0 5px cyan;
}

.s-3 {
    text-shadow: -1px -1px 0 black, 1px 1px 0 black , 0 0 4px purple;
    color: white;
}