hr {
  border: 2px solid black;
  margin: 50px 0;
}

p,
span {
  background-color: aqua;
}

p {
  display: inline-block;
}

span {
  display: block;
}

.megicBox {
  width: fit-content;
  padding: 50px;
  font-size: 80px;
  background-color: lightgreen;
  border: 2px solid gray;
}

.megicBox>i {
  display: none;
}
