@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --black: black;
  --white: white;
  --mainBg: #303442;
  --aside: #1f1f1f;
}

.light {
  --black: white;
  --white: black;
  --mainBg: #afbff3;
  --aside: #ffffff;
}

.active {
  color: #8ba5e9;
}

.textClor {
  color: gray;
}
