* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

#renderAllData {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;

  .card {
    width: 350px;
    height: 450px;
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 4px 10px gray;
    overflow: hidden;

    .cardImg {
      width: 300px;
      height: 300px;
      overflow: hidden;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 250px;
      }
    }

    .cardDetail {
      background-color: lightgray;
      height: 150px;
      width: 100%;
      padding: 5px;
      border-top: 1px solid black;

      .priceDetail {
        display: flex;
        flex-direction: column;

        span {
          margin: 3px 0;
        }

        span:last-child {
          color: red;
        }
      }

      .cardButton {
        margin: 10px;
        position: absolute;
        bottom: 0;
        right: 0;

        button {
          padding: 5px 10px;
        }
      }
    }
  }
}