body {
  /* height: 100vh; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  /* border: 2px dashed black; */
  /* position: relative; */
  /* width: 200px; */
  /* height: 200px; */
}

/* rotateX-Y 3D*/
.parent:hover .box {
  /* transform: translate(50px, 100px); */
  /* transform: rotateY(180deg); */
  /* transform: scale(.5, 1.3); */
  /* transform: skew(10deg, 20deg); */
}

.box {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 4px solid red;

  animation-name: myAnimation;
  animation-duration: 4s;
  animation-delay: 2s;
}


@keyframes myAnimation {
  0% {
    left: 0px;
    top: 0px;
  }

  25% {
    left: 500px;
    top: 0px;
    background-color: red;
  }

  50% {
    top: 500px;
    left: 500px;
    background-color: green;
  }

  75% {
    top: 500px;
    left: 0px;
    background-color: blue;
  }

  100% {
    top: 0px;
    left: 0px;
  }
}

/*  */

/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  height: 80px;
  background: #935936;
  position: relative;
}

.loader:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -22px;
  width: 25px;
  height: 60px;
  background:
    radial-gradient(farthest-side, #fff 92%, #0000) 60% 6px/4px 4px,
    radial-gradient(50% 60%, #53707b 92%, #0000) center/70% 55%,
    radial-gradient(farthest-side, #53707b 92%, #0000) 50% 3px/14px 14px,
    radial-gradient(142% 100% at bottom right, #0000 64%, #53707b 65%) bottom/57% 40%,
    conic-gradient(from -120deg at right, #53707b 36deg, #0000 0)100% 3px/51% 12px,
    conic-gradient(from 120deg at top left, #0000, #ef524a 2deg 40deg, #0000 43deg) top/100% 10px;
  background-repeat: no-repeat;
  transform: rotate(-26deg);
  transform-origin: 100% 80%;
  animation: l16 .5s infinite linear alternate;
}

.loader:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 12px;
  left: -6px;
  bottom: 15px;
  border-radius: 100px 0 0 100px;
  background: #53707b;
}

@keyframes l16 {
  100% {
    transform: rotate(0)
  }
}