.active {
  color: red;
}

.GithubIcon {
  font-size: 35px;
  color: blue;
}

.light {
  --white: white;
  --black: black;
}

.dark {
  --white: black;
  --black: white;
}

.card {
  background-color: var(--white);
  color: var(--black);
}