body {
  background-color: var(--white);
}

.cardImage>img {
  width: 400px;
}

.card {
  width: 400px;
  border: 3px solid var(--black);
  padding: 10px;
  background-color: var(--black);
  color: var(--white);
  box-shadow: 2px 3px 12px var(--black);
  border-radius: 10px;
}

hr {
  border: 2px solid var(--white);
}

#switch {
  float: right;
  margin: 10px;
  font-size: 30px;
  color: var(--black);
}