* {
  margin: 0;
  padding: 0;
}

/* .parent p {
  color: red;
} */

/* .parent>p {
  color: red;
} */

/* .parent>div>p {
  color: blue;
} */

/* .parent div>div>h1 {
  color: yellow;
} */

/* .parent>:nth-child(4) {
  background-color: blue;
} */

/* .parent :nth-child(3)>div>p {
  background-color: red;
} */

.parent {
  width: 50vw;
  height: 400px;

  border: 2px solid red;

  background-image: url("./myImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  background-position: 0 -50px;
}

.content {
  background-color: rgba(0, 0, 0, 0.396);
  color: white;
  height: 100%;
}

.ex-2 {
  margin: 1000px 0;
  height: 500px;

  background-image: url("./myImg.jpg");
  background-size: cover;
  background-attachment: fixed;
}