/* h1 {
  background-color: aqua;
  color: yellow;
} */

table {
  /* border-width: 4px;
  border-color: black;
  border-style: solid; */

  border: 4px black solid;
  /* border-radius: 10px 30px 5px 0; */
  border-radius: 10px;
  padding: 10px;
  /* margin: 50px 10px 20px 0; */

  width: fit-content;
  margin: 50px auto;
}

td,
th {
  border: 2px solid black;
}

th {
  padding: 5px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

td {
  text-align: center;
}