body {
  height: 500vh;
}

.parentPosition {
  border: 2px solid black;
  height: 400px;
  width: 400px;

  position: relative;
}

.childAbsolute {
  background-color: red;
  height: 100px;
  width: 100px;

  position: absolute;
  bottom: 50px;
  right: 100px;
}

/* .vh {
  height: 10vh;
  width: 10vw;
  background-color: blue;
} */

.fixed {
  position: fixed;
  right: 50px;
  top: 0;

  background-color: gray;
  font-size: 40px;
  padding: 10px;
}

.sticky {
  position: sticky;
  bottom: 50px;

  background-color: gray;
  font-size: 40px;
  padding: 10px;
}