/* GoogleFont */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.font-1 {
  font-family: 'Roboto Mono', monospace;
}

.font-2 {
  font-family: 'Josefin Sans', sans-serif;
}

.icon {
  font-size: 100px;
}

.instaIcon {
  font-size: 80px;
  color: palevioletred;
  border-radius: 30px;
  text-shadow: 3px 3px 5px black;
}

hr {
  margin: 50px 0;
}

.parent {
  background-color: tomato;
  padding: 20px 0;
}

.parent>ul>li {
  background-color: lightgreen;
  list-style: inside;
}