@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --myFont: 'Preahvihear', sans-serif;

    --MyTomato: tomato;

    --topBottom50: 50px;
    --rightLeft100: 100px;
}

.myG-Font {
    font-family: var(--myFont);
    color: var(--MyTomato);
    border: 2px solid var(--MyTomato);
    padding-top: var(--topBottom50);
    padding-bottom: var(--topBottom50);
}

.myP {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}