* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pageSpace: 52px;
}

body {
  height: 500vh;
  font-family: Arial, Helvetica, sans-serif;
}

.glass {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .7));
  height: 100%;
  color: white;
}

header {
  background: url("./CodeImg.jpg");
  background-size: cover;
  height: 87vh;
  margin: var(--pageSpace);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 200px;
}

nav a {
  color: white;
  text-decoration: none;
}

.navigation>ul {
  display: flex;
}

.navigation>ul>li {
  list-style: none;
  margin: 0 30px;
}

.drop {
  position: relative;
}

.down {
  position: absolute;
  display: none;

  left: -70px;
  padding-top: 10px;
}

.down>div {
  background-color: rgb(39, 39, 39);
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, .3);
}

.down>div>li {
  list-style: none;
  padding: 10px 0;
  border-bottom: 2px solid white;
}

.down>div>li:hover {
  background-color: rgb(29, 29, 29);
}

.down>div>li:last-child {
  border: none;
}

.drop:hover .down {
  display: block;
}

.navigation>ul>li:last-child>.down {
  width: 200px;
}