body {
  /* border: 2px solid red; */
  /* height: 100vh; */
}

table {
  border: 3px solid black;
  width: 40%;
  /* height: 30%; */
  padding: 5px;
}

th,
td {
  border: 1px solid black;
}

th {
  padding: 10px 0;
  background-color: darkred;
  color: white;
}

td {
  padding: 5px;
  text-align: center;
  /* background-color: #ddd; */
}

tr:hover td {
  background-color: tomato;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #8a8a8a;
}

tr:nth-child(odd) {
  background-color: #ddd;
}