@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --mainColor: #161616;
  --btnBg: #2d172f;
  --hoverBtnBg: #b233aa;
  --secondaryColor: #8030bc;

  --themeBtn: linear-gradient(100deg, #b233aa, #8030bc);
  --hoverThemeBtn: linear-gradient(-100deg, #b233aa, #8030bc);

  /* https://fonts.google.com/specimen/Zen+Dots?query=zen+Dots */
  --headingFont: 'Zen Dots', sans-serif;
}

body {
  background-color: var(--mainColor);
}

/* Navigation */

header {
  background: url("./assets/gradient1.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 70px;

  border-bottom: 2px solid #252525;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 30px;
}

.navBtn {
  display: flex;
}

.navBtn>div:first-child {
  border: 2px solid var(--hoverBtnBg);
  margin: 0 10px;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: var(--btnBg);
  cursor: pointer;
  transition: .3s;
}

.navBtn>div:first-child:hover {
  background-color: var(--hoverBtnBg);
}

.navBtn>div:last-child {
  background: var(--themeBtn);
  padding: 10px 35px;
  margin: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navBtn>div:last-child:hover {
  background: var(--hoverThemeBtn);
}

nav>ul>li:hover,
nav>ul>li>span:hover {
  color: var(--hoverBtnBg);
  transition: .3s;
}

.downArrow>i {
  transition: .5s;
}

/* nav dropDown */

.drop {
  position: relative;
}

.down {
  position: absolute;
  flex-direction: column;
  width: 200px;
  display: none;
  padding: 25px 0 0 0;
}

.drop:hover .downArrow>i {
  position: relative;
  transform: rotateX(180deg);
}

.drop:hover .down {
  display: block;
}

.down>div {
  border-radius: 10px;
  background-color: white;
  color: black;
}

.down li {
  margin: 0;
  padding: 8px 25px;
  transition: .5s;
  cursor: pointer;
}

.down li:first-child {
  border-radius: 10px 10px 0 0;
}

.down li:last-child {
  border-radius: 0 0 10px 10px;
}

.down li:hover {
  background-color: var(--hoverBtnBg);
  color: white;
}