/* div {
  background-color: red;
  display: inline;
}

span {
  background-color: greenyellow;
  display: block;
} */

/* .child {
  display: none;
}

.parent:hover .child {
  display: block;
} */

div {
  /* height: 100px; */
  /* width: 100px; */
  /* border: 8px solid red; */
  /*! Sort-hand method */
  /* padding: 10px 50px 0 100px; */
  /* margin: 50px 100px 10px 20px; */
  /* border-radius: 10px 50px 20px 10px; */
}