:root {
  --mySize: 35px;
  --MyShadow: 2px 2px 4px black;
  --myFontFamily: Arial;
  --StylesFont: monospace;
  --fitWidth: fit-content;
  --myBorder: 2px solid green; 

  /* Color's */
  --divColor: #a3cf12;

  /* Font's */

  --myHeaderFont: 'Montserrat', sans-serif;
}

.myDiv {
  border: var(--myBorder);
  font-size: var(--mySize);
  padding: var(--mySize);
  width: var(--fitWidth);
  margin: auto;
  font-family: var(--myHeaderFont);
  background-color: var(--divColor);
}

h2 {
  font-family: var(--StylesFont);
  color: var(--divColor);
}

.flex {
  display: flex;
}

.flex>div {
  margin: 0 var(--mySize);
}

.height-200 {
  height: 200px;
}

.height-100 {
  height: 100px;
}

.width-300 {
  width: 300px;
}

.bg-divColor {
  background-color: var(--divColor);
}

.myBorder {
  border: var(--myBorder);
}

.padding-mySize {
  padding: var(--mySize);
}

/*
  height : 200 + 35 = 235 
  width : 300 + 35 = 335
*/

.flex>div>h3,
p {
  margin: 0;
  padding: 0;
}