* {
  margin: 0;
  padding: 0;
}

.card {
  /* border-style: solid;
  border-color: red;
  border-width: 10px; */

  /** Sort hand method  */
  border: 5px solid red;

  /* width: 500px; */
  width: fit-content;

  margin: 20px;
  /* margin: 20px; */
  /* margin: 50px 10px; */
  /* margin: top right bottom left; */
  /* margin: 50px 5px 10px 100px; */

  padding: 20px;
  /* padding: 50px 10px; */
  /* padding: top right bottom left; */
  /* padding: 50px 5px 10px 100px; */

  border-radius: 20px;
  box-shadow: 10px 20px 10px gray;
}