* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: fit-content;
  margin: 50px;
}

.border {
  width: 0;
  border: 1px solid transparent;
  transition: .5s;
}

.parent:hover .border {
  border: 1px solid black;
  width: 100%;
}