* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 2px solid black;
  height: 100vh;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  box-shadow: 2px 4px 4px gray;
  border: 1px solid gray;
  border-radius: 10px;
  width: fit-content;
  padding: 20px;

  input {
    display: block;
    margin: 20px 0;
    padding: 4px;
    font-size: 20px;
  }

  button {
    padding: 7px 10px;
    font-size: 18px;
  }
}

.parent {
  position: relative;

  .icon {
    position: absolute;
    top: 9px;
    right: 10px;
    cursor: pointer;
  }
}
