.textAlign h1 {
    text-align: center;
    font-family: cursive;
}

.textAlign div {
    text-align: right;
    color: blue;
    font-size: 30px;
}

/*  */

.textStyle p {
    font-style: italic;
}

/*  */

.fontWight {
    font-weight: bold;
}

/*  */

.t-1 {
    text-decoration: underline;
}

.t-2 {
    text-decoration: line-through;
}

.t-3 {
    text-decoration: overline wavy blue 5px;    
}

/*  */

.p-1 {
    text-transform: uppercase;
}

.p-2 {
    text-transform: lowercase;
}

.p-3 {
    text-transform: capitalize;
}

/*  */

.spaceWidth {
    border: 2px solid green;
    margin: 50px;
    padding: 20px;
    width: 500px;
    background-color: antiquewhite;
}

.spaceWidth p {
    text-indent: 60px;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    /* white-space: nowrap; */
}

