section>div {
  height: 100px;
  width: 100px;
  background-color: black;
  margin: 10px;
}

section {
  /* display: flex; */
  /* justify-content: space-between; */

  display: grid;
  /* grid-template-columns: 20% 20% 20% 20% 20%; */
  grid-template-columns: repeat(4, 20%);
  justify-content: space-between;
  place-items: center;
}