@tailwind base;

*::-webkit-scrollbar {
    width: 1px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 2px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 0px;
    border: 1px solid var(--primary);
  }

  .range{
    height: 5px;
    border: none;
  }
  
@tailwind components;
@tailwind utilities;