* {
  margin: 0;
  padding: 0;
}

.bg-img {
  background-image: url("./DoremonEndNobitaCrop.jpg");
  height: 90vh;
  /* background-position: 0 -250px; */
  background-size: contain;
  background-repeat: no-repeat;
  border: 3px solid red;
}

.centerContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: tomato; */
}

.centerContent h1 {
  font-size: 40px;
}

.centerContent p {
  font-size: 20px;
  width: 500px;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.flex-box div {
  height: 100px;
  width: 100px;
  background-color: black;
  margin: 10px;
}

.flex-box :first-child {
  background-image: url("./DoremonEndNobitaCrop.jpg");
  background-size: cover;
  border-radius: 100%;
}

.style-bg {
  height: 500px;
  border: 1px solid red;
  background-image: url("./pexels-clément-proust-19210728.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.flex {
  display: flex;
}

.div-1 {
  height: 200px;
  width: 300px;
  background-color: yellow;
  margin: 10px;
  border: 2px solid red;
  padding: 50px;
}

.div-2 {
  height: 200px;
  width: 300px;
  background-color: yellow;
  margin: 10px;
  border: 2px solid red;

  box-sizing: border-box;
  padding: 50px;
}