.myClass {
  color: blue;
  font-size: 25px;
}

#myId {
  color: red;
  font-size: 30px;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: greenyellow;
}

.convert-inline {
  display: inline;
}

.convert-block {
  display: block;
}

.myInstaId {
  font-size: 50px;
}

.poem {
  border: 2px solid black;
}

.myPoem {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Raleway', sans-serif;
}

.CodeOne {
  width: 100%;
}