section {
  display: grid;
  /* grid-template-columns: 500px 500px 300px; */

  grid-template-columns: repeat(3, 300px);
  place-items: center;
  justify-content: center;
  column-gap: 50px;
}

div {
  height: 200px;
  width: 200px;
  background-color: black;
  margin: 10px;
}

@media screen and (max-width: 1200px) {
  section {
    grid-template-columns: repeat(2, 300px);
  }
}
