* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

hr {
  margin: 10px 0;
}

button {
  margin: 10px 0;
}

main {
  padding: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 5px 150px;
}

.navigation ul {
  display: flex;
  gap: 50px;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
}

.navigation .active {
  color: tomato;
}