div {
  height: 300px;
  width: 300px;
  min-width: 250px;
  background-color: yellow;
}

section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

/* Responsive */

@media screen and (max-width: 500px) {
  section {
    flex-direction: column;
    border: 2px solid black;
  }

  div {
    width: 200px;
    margin: auto;
  }
}

@media screen and (max-width:965px) {
  div {
    height: 300px;
    width: 100px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-color: black;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  div {
    display: none;
  }
}