.display-none {
  border: 2px solid black;
  display: none;
}

.hover {
  border: 3px solid black;
}

.hover-block {
  height: 100px;
  width: 100px;
  background-color: greenyellow;
}

.none {
  display: none;
}

.hover:hover .none {
  display: block;
}

/*  */

.drop>ul {
  display: none;
  background-color: lightgray;
  width: fit-content;
  padding: 10px;
}

.drop>ul>li {
  list-style: none;
  border-bottom: 2px solid black;
  padding: 5px;
}

.drop>ul>li:last-child {
  border: none;
}

.drop:hover .down {
  display: block;
}

.hide {
  visibility: hidden;
}

